body{
    margin: 0;
    font-size: 16px;
    background-color: rgb(244, 243, 203);
}
div{
    margin: 2px 5px;
}
i{
    padding: 2px 5px;
}
p{
    margin: 10px 0;
}
.logo{
    text-align: center;
    font-size: larger;
    color: rgb(177, 89, 1);
    background-color: rgb(239, 235, 181);
    padding: 10px;
}
.info_and_register{
    display: flex;
    flex: 1;
}
.info{
    flex: 1;
}
.register{
    flex: 1;
    justify-self: center;
}
form{
    margin-top: 20px;
    max-width: 450px;
    border: 0.5px solid rgb(254, 241, 186);
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.ten-form{
    margin: 5px auto 25px auto;
}
fieldset{
    display: flex;
    flex-direction: column;
}
@media(max-width:1024px){
    body{
        background-color: rgb(180, 236, 226);
    }
    .logo{
        color: rgb(3, 119, 123);
        background-color: rgb(184, 246, 186);
        padding: 10px;
    }
    .info_and_register{
        display: block;
    }
}